<div class="w-1/5 hidden md:flex flex-col text-center px-4 justify-between sticky top-20 h-[calc(100vh-80px)] font-medium border-r">
  <nav class="mt-6 border-b">
    <ul class="space-y-2 mb-2">
      <li>
        <%= link_to root_path, class: "flex items-center p-2 px-4 text-gray-700 hover:bg-blue-100 rounded-lg" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
          </svg>
          <span class="px-2">Dashboard</span>
        <% end %>
      </li>
    </ul>
  </nav>
  <div class="sidebar-bottom"></div>
</div>